@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #2D3440;
  background-color: #FEAFC3;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
}

.button {
  background-color: #FF2F64;
  color: #FCFCFC;
}

.navigation__link {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.navigation__link--current {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.user__link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;
}

.user__link--phone {
  font-weight: 700;
  background-color: transparent;
}

.slide__descr {
  font-size: 18px;
  line-height: 24px;
}

.action__slogan {
  display: block;
  text-align: center;
}

.actions__item:nth-child(1) {
  background-image: url("../images/raspberry-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #FF7799;
}

.actions__item:nth-child(2) {
  background-image: url("../images/marshmello-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #FF7799;
}

.actions__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popular__slogan {
  display: block;
  text-align: center;
}

.cards__item {
  background-color: #FCFCFC;
}

.cards__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.cards__item-descr {
  text-align: center;
  color: #565C66;
}

.cards__item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cards__item-btn {
  background-color: #FF2F64;
}

.advantages {
  padding: 24px;
  background-image: url("../images/advantages-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages .wrapper {
  background: #FFFFFF;
}

.advantages__title {
  display: block;
  text-align: center;
}

.advantages__item {
  color: #565C66;
}

.blog {
  background-color: #FFFFFF;
  background-image: url("../images/post-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.blog__link {
  text-decoration: none;
}

.blog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.blog__text {
  line-height: 20px;
  color: #565C66;
}

.subscribe-form {
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.subscribe-form .wrapper {
  background-color: #FFFFFF;
}

.subscribe-form__text {
  color: #565C66;
}

.delivery {
  background-color: #FFFFFF;
  background-image: url("../images/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.delivery__descr {
  color: #565C66;
}

.delivery-form {
  background-color: #FCFCFC;
}

.delivery-form__text {
  color: #565C66;
}

.delivery-form__label {
  line-height: 20px;
  font-weight: 700;
}

.contacts {
  background-image: url("../images/adress-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  background-color: #FCFCFC;
}

.contacts__title {
  font-size: 16px;
  font-weight: 400;
  color: #565C66;
}

.contacts__wrapper {
  font-style: normal;
}

.contacts__adress {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #FCFCFC;
}

.contacts__text {
  color: #565C66;
}

.contacts__link--tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts__small-text {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.info__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.info__link--suppliers {
  font-weight: 700;
}

.copyright__text {
  font-size: 12px;
  line-height: 16px;
}

.copyright__link {
  color: #2D3440;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.filter {
  font-size: 14px;
  line-height: 20px;
}

.filter__group {
  background-color: rgba(252, 252, 252, 0.3);
}

.filter__btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination__item--current {
  background-color: #FCFCFC;
}

.pagination__link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}
