@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #2D3440;
  background-color: #FEAFC3;
}

main {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}


.button {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.link {
  color: inherit;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.link:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.link:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: none;
  color: #B9B9B9;
  font-weight: 400;
}

/* .link--spinned {
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #2D3440;
} */

.btn {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.btn:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  box-shadow: none;
  color: #2D3440;
}

.btn:focus {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.btn:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
}

.btn:disabled {
  font-weight: 400;
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  box-shadow: none;
}

/* .button--spinned {
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #FCFCFC;
} */

.input {
  width: 100%;
  min-height: 48px;
  padding: 14px 16px;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  background-color: #FFFFFF;
  line-height: 20px;
  color: inherit;
}

.input::placeholder {
  color: #B9B9B9;
}

.input:hover {
  outline: 1px solid #2D3440;
}

.input:focus {
  outline: 2px solid #2D3440;
}

.input:disabled {
  background-color: #E7E7E7;
  outline: 1px solid #B9B9B9;
  color: #2D3440;
}

.input:disabled::placeholder {
  color: rgba(45, 52, 64, 0.65);
}

.input--error {
  outline: 1px solid #EA5454;
}

.input--error:hover {
  outline: 2px solid #EA5454;
}

.btn-del {
  display: flex;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-del svg {
  margin: auto;
}

.btn-del--hide {
  display: none;
}

.section {
  margin-bottom: 80px;
}

.popover {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #FCFCFC;
  border-radius: 4px;
  z-index: 4;
}

.popover--show {
  display: block;
}

.popover-item {
  position: relative;
}

.popover-item:hover > .popover {
  display: block;
}

.navigation__item:focus-within .popover {
  display: block;
}

.user__item:focus-within .popover {
  display: block;
}

.main-header {
  min-height: 104px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  width: 137px;
  height: 55px;
  margin-right: 16px;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 8px;
  list-style-type: none;
}

.navigation__item {
  padding-bottom: 8px;
}

/**/

.navigation__link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  outline: none;
}

.navigation__link--current {
  border-radius: 30px;
  color: #FCFCFC;
  background-color: #FF2F64;
}

.navigation__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation__link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
  outline: none;
}

.navigation__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
}

/**/

.navigation__catalog {
  min-width: 138px;
  right: auto;
  left: 0;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.navigation__catalog-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style-type: none;
}

.navigation__catalog-item:first-child {
  margin-bottom: 8px;
  position: relative;
}

.navigation__catalog-item:first-child::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #B9B9B9;
}

.navigation__catalog-link {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #FCFCFC;
}

.navigation__catalog-link--new {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
}

.navigation__catalog-link:hover {
  background-color: #FFCBD8;
}

.navigation__catalog-link:focus {
  background-color: #FF4A78;
  color: #FCFCFC;
  outline: none;
}

.navigation__catalog-link:active {
  background-color: #FF7799;
}

.user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style-type: none;
}

.user__item {
  margin-right: 16px;
  padding-bottom: 8px;
}

.user__item:last-child {
  margin-right: 0;
}

.form-search {
  min-width: 356px;
  min-height: 96px;
  padding: 24px 16px;
  position: absolute;
}

.form-search__btn-reset {
  position: absolute;
  top: 40px;
  right: 29px;
  opacity: 0.4;
}

.user__link {
  display: flex;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  text-decoration: none;
  border-radius: 30px;
}

.user__link--search {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.user__link--search svg {
  margin: auto;
}

.user__link--phone {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  background-color: transparent;
}

.user__link--login svg {
  margin: auto;
  margin-right: 6px;
}

.user__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.user__link:active {
  background-color: #FCFCFC;
  outline: none;
}

.user__link--active {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.user__link--active svg {
  color: #FCFCFC;
}

.user__link--cart svg {
  margin: auto;
  margin-right: 6px;
}

.user__link--cart {
  justify-content: space-between;
}

.form-login {
  display: flex;
  flex-direction: column;
  min-width: 420px;
  min-height: 350px;
  padding: 48px;
  padding-bottom: 52px;
}

.form-login__title {
  margin-bottom: 32px;
}

.form-login__row {
  margin: 0;
  margin-bottom: 16px;
}

.form-login__wrapper {
  margin-top: 16px;
  display: grid;
  grid-column-gap: 23px;
  grid-template-areas:
    "button forgot"
    "button sign-in";
}

.form-login__btn {
  grid-area: button;
}

.form-login__link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

.form-login__forgot-password {
  grid-area: forgot;
}

.form-login__sign-in {
  grid-area: sign-in;
}

.cart__count {
  margin-right: 6px;
}

.cart__empty-cart {
  min-width: 288px;
  min-height: 156px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  padding: 48px 28px;
}

.cart__empty-text {
  text-align: center;
}

.cart__noempty-cart {
  min-width: 440px;
  min-height: 382px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  padding: 48px;
}

.cart__title {
  margin-bottom: 32px;
}

.cart__list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 32px;
  list-style-type: none;
  border-bottom: 1px solid #E7E7E7;
}

.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.cart__item:last-child {
  margin-bottom: 0;
}

.cart__item-img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}

.cart__item-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
}

.cart__item-descr {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart__item-content {
  margin-right: auto;
}

.cart__item-price {
  font-weight: 700;
  font-size: 18px;
}

.cart__item-del {
  margin-left: 52px;
}

.cart__btn {
  margin-right: 30px;
}

.cart__sum-text {
  font-weight: 700;
  font-size: 18px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* margin-bottom: 84px; */
}

.slider__list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: flex;
}

.slider__thumb {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.slider__thumb-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-left: 78px;
  list-style-type: none;
}

.slider__thumb-item {
  position: relative;
  opacity: 0.4;
}

.slider__thumb-item:not(:first-child) {
  margin-left: 75px;
}

.slider__thumb-item::before {
  position: absolute;
  content: '';
  left: calc(50% - 100px/2);
  top: calc(50% - 100px/2);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFCBD8;
}

.slider__thumb-link {
  display: block;
}

.slider__thumb-img {
  position: relative;
  width: 66px;
  height: 150px;
  z-index: 1;
  object-fit: cover;
}

/*object-fit: cover;*/

.slider__pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  right: 278px;
  top: 258px;
  width: 350px;
}

.slider__btn {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  cursor: pointer;
}

.slider__btn svg {
  margin: auto;
  color: #FCFCFC;
}

.slider__btn--prev svg {
  transform: rotate(180deg);
}

.slider__btn:hover {
  background-color: #FCFCFC;
}

.slider__btn:hover svg {
  color: #000000;
}

.slider__btn:focus {
  outline: none;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider__btn:focus svg {
  color: #000000;
}

.slider__btn:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  opacity: 0.4;
}

.slider__btn:disabled svg {
  color: #FCFCFC;
}

.slider__btn:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider__btn:active svg {
  color: #000000;
}

.slider__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 24px;
}

.slide__col:nth-child(1) {
  padding-top: 136px;
  padding-left: 70px;
  margin-right: 21px;
}

.slide__col:nth-child(2) {
  padding-top: 21px;
  position: relative;
}

.slide__col:nth-child(2)::before {
  position: absolute;
  content: '';
  left: calc(50% - 312px/2 + 3px);
  top: calc(50% - 312px/2 + 13px);
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #FFCBD8;
}

.slide__title {
  min-width: 470px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slide__descr {
  min-width: 414px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slide__img {
  position: relative;
  z-index: 1;
}

.slider__navigation {
  padding: 10px;
  background-color: rgb(104, 97, 97);
}


.action__slogan {
  display: block;
  margin: 0 auto;
  margin-bottom: 55px;
  text-align: center;
  width: 434px;
}

.actions {
  margin-bottom: 81px;
}

.actions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.actions__item {
  width: 570px;
  padding: 36px;
  border-radius: 16px;
  background-color: #FF7799;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.actions__item:nth-child(1) {
  background-image: url("../images/raspberry-bg.png");
}

.actions__item:nth-child(2) {
  background-image: url("../images/marshmello-bg.png");
}

.actions__item-title {
  margin: 0;
  margin-bottom: 28px;
}

.actions__descr {
  width: 328px;
  margin: 0;
  margin-bottom: 28px;
}

.popular__slogan {
  width: 530px;
  display: block;
  margin: 0 auto;
  margin-bottom: 107px;
  text-align: center;
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 8px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-top: 133px;
  background-color: #FCFCFC;
}

.cards__item-img-link {
  border-radius: 50%;
  position: absolute;
  top: -51px;
}

.cards__item-img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.cards__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.cards__item-title-link {
  color: inherit;
  text-decoration: none;
}

.cards__item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.cards__item-descr {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #565C66;
}

.cards__item-row {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cards__item-btn {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FF2F64;
}

.cards__item-btn svg {
  margin: auto;
  color: #FCFCFC;
}

.advantages {
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/advantages-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advantages .wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
}

.advantages__title {
  margin-bottom: 56px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  width: 505px;
  padding-left: 64px;
  color: #565C66;
  position: relative;
}

.advantages__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.advantages__item:nth-child(1) {
  order: 1;
  margin-bottom: 40px;
}

.advantages__item:nth-child(1)::before {
  background-image: url('../images/svg/ice-cream.svg');
}

.advantages__item:nth-child(2) {
  order: 3;
}

.advantages__item:nth-child(2)::before {
  background-image: url('../images/svg/leaf.svg');
}

.advantages__item:nth-child(3) {
  order: 2;
  margin-bottom: 40px;
}

.advantages__item:nth-child(3)::before {
  background-image: url('../images/svg/cow.svg');
}

.advantages__item:nth-child(4) {
  order: 4;
}

.advantages__item:nth-child(4)::before {
  background-image: url('../images/svg/thermometer.svg');
}

.advantages__title {
  display: block;
  text-align: center;
}

.main-index__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-index__blog {
  width: 570px;
}

.blog {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  min-height: 224px;
  padding: 32px;
  border-radius: 16px;
  background-color: #FFFFFF;
  background-image: url("../images/post-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.blog__link {
  width: 303px;
  text-decoration: none;
}

.blog__title {
  color: #2D3440;
}

.blog__text {
  margin-bottom: 12px;
  line-height: 20px;
  color: #565C66;
}

.main-index__subscribe-form {
  width: 570px;
  padding: 6px;
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100%;
}

.main-index__subscribe-form .wrapper {
  padding: 26px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.subscribe-form__text {
  color: #565C66;
  margin: 0;
  margin-bottom: 44px;
}

.subscribe-form__input {
  width: 332px;
  margin-right: 14px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  padding-left: 100px;
  background-color: #FFFFFF;
  background-image: url("../images/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

.delivery__text-wrapper {
  width: 371px;
  padding-top: 103px;
  margin-right: auto;
}

.delivery__title {
  margin: 0;
  margin-bottom: 24px;
}

.delivery__descr {
  margin: 0;
  color: #565C66;
}

.delivery__form-wrapper {
  width: 500px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form__text {
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.delivery-form__col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form__col--address {
  grid-column: 1/-1;
}

.delivery-form__label {
  display: inline-block;
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
}

.delivery-form__label svg {
  margin-left: 4px;
  margin-top: 3px;
}

.delivery-form__btn {
  grid-column: 1/-1;
  justify-self: center;
}

.contacts {
  padding: 64px;
  background-image: url("../images/adress-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  background-color: #FCFCFC;
}

.contacts__wrapper {
  width: 343px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  background-color: #FCFCFC;
}

.contacts__wrap {
  font-style: normal;
}

.contacts__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #565C66;
}

.contacts__address {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 12px;
  color: #565C66;
}

.contacts__link--tel {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts__link--form {
  display: block;
}

.contacts__small-text {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.main-footer {
  padding: 48px;
  padding-bottom: 44px;
}

.main-footer .container {
  display: flex;
}

.main-footer__social {
  margin-right: auto;
}

.main-footer__info {
  width: 370px;
  margin-right: 200px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  margin-right: 16px;
}

.social__item:last-child {
  margin-right: 0;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info__item {
  width: 50%;
  padding-left: 24px;
}

.info__item:nth-child(1) {
  order: 1;
}

.info__item:nth-child(2) {
  order: 3;
  padding-left: 24px;
}

.info__item:nth-child(3) {
  order: 2;
  padding-left: 0;
}

.info__item:nth-child(4) {
  order: 4;
  padding-left: 0;
}

.info__item--suppliers {
  position: relative;
}

.info__item--suppliers::before {
  position: absolute;
  content: '';
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url('../images/svg/heart-fill.svg');
}

.info__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.info__link--suppliers {
  font-weight: 700;
}

.copyright {
  margin-right: 14px;
}

.copyright__logo-link {
  display: block;
  margin-bottom: 14px;
}

.copyright__logo-link img {
  width: 93px;
  height: 26px;
}

.copyright__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.copyright__link {
  color: #2D3440;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  margin-right: 28px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.inner-header__title {
  margin: 0;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 823px;
  margin-bottom: 95px;
  font-size: 14px;
  line-height: 20px;
}

.filter__group {
  position: relative;
  border: none;
  padding: 8px 24px;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.filter__group:nth-child(-n+3) {
  margin-bottom: 46px;
}

.filter__group-title {
  position: absolute;
  top: -28px;
  left: 16px;
}

.sort {
  width: 196px;
}

.price {
  width: 196px;
}

.fatness {
  width: 383px;
}

.fatness__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fatness__item {
  margin-right: 16px;
}

.filler {
  width: 604px;
}

.filler__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filler__item {
  margin-right: 16px;
}

.filter__btn {
  margin-right: 14px;
  padding: 8px 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.product {
  margin-bottom: 53px
}

.product__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
}

.pagination {
  display: flex;
  align-items: center;
  padding-bottom: 91px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__btn--show-more {
  margin-left: auto;
  margin-right: 335px;
}

.pagination__item--current {
  background-color: #FCFCFC;
}

.pagination__link {
  display: block;
  padding: 2px 7px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.pagination__link--prev {
  margin-right: 8px;
  background-color: #fff;
}

.pagination__link--next {
  margin-left: 8px;
  background-color: #fff;
}

.pagination__item--current {
  background: #FCFCFC;
  border-radius: 50%;
}

.main-catalog .container {
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}
